export transistorKey=hoIoMGt6iarZxE1bNQs8Kg
export APP_SEARCH_ENDPOINT=66893193d66446148486c5cf825496bb.ent-search.us-east-1.aws.cloud.es.io/api/as/v1/
export APP_SEARCH_API_KEY=private-bcwmec4z4ckn68ie326v3c9k
