[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
frozen-flask = "*"
markdown = "*"
flask-scss = "*"
pipfile = "*"
dateutil = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.7"
