[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
markdown = "*"
frozen-flask = "*"
flask-scss = "*"
python-dateutil = "*"

[requires]
