body {
	font-size: 1.2em;
}

nav.navbar {
  padding: 1em 2em;
}

.navbar-brand {
  padding-top: 1em;
}
.is-visible {
  display: block !important;
}

.is-hidden {
  display: hidden !important;
}
.search-results {
  display: none;
}
