.posts img {
  max-width: 20em;
}

.card-body img {
  max-width: 100%;
}

.card img {
  max-height: 450px;
}

img.podcast-image {
    max-width: 300px;
    border-radius: 5px;
    display:block;
    border: 1px #666 solid;
}

.podcast-wrapper {
 height: 250px;
 width: 250px;
 position: relative
}

.wrapper {
  position: absolute;
  bottom: -100px;
  color: #eee;
  width: 100%;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.wrapper-text {
  width: 100%;
  padding: 1em;
}

.wrapper:hover {
  opacity: 1;
  bottom: 0px;
  background-color: #000;
}

.wrapper h1 {
}

@media only screen and (max-width: 500px) {
  .wrapper {
    opacity: 0;
  }
}
