article a {
   text-decoration: underline;
   font-weight: bold;
}
article p {margin: 1em auto}

article h2 {
    font-weight: bold;
    margin: 1em 0;
    font-size: 1.4rem;}

article h1 {
    font-weight: bold;
    margin: 1em 0;
    font-size: 1.6rem;}

article h3 {
    font-weight: bold;
    margin: 1em 0;
    font-size: 1.2rem;
}

article hr {margin: 1em 0}

iframe { margin: 2em;}

pre { margin: 2em ;}

article ul {
    padding-left: 2em;
}

article li {
    list-style-type: "-";
    list-style-position: outside;
    padding-left: 1em;
}

.footnotes {font-size: smaller;}
.footnotes li {list-style: none;}
blockquote {
    background: #ddd;
    padding: 1em;
    margin: 2em;
    border-radius: 10px;    
}

