body {
	font-size: 1.2em;
}

nav.navbar {
  margin: 0 2em;
  padding: 1em 0;
}

.is-visible {
  display: block !important;
}

.is-hidden {
  display: hidden !important;
}
.search-results {
  display: none;
}
