.title {font-family: 'Overpass Mono', monospace;}
article a {
   text-decoration: underline;
   font-weight: bold;
}
article p {margin: 1em auto}

article h2 {
    font-weight: bold;
    font-size: 1.2rem;}
article h1 {
    font-weight: bold;
    font-size: 1.3rem;}
article h3 {font-weight: bold;}
