.posts img {
  max-width: 20em;
}

.card-body img {
  max-width: 100%;
}

.card img {
  max-height: 450px;
}

img.podcast-image {
    max-width: 300px;
    border-radius: 5px;
    display:block;
}

#what-im img {
	max-width: 100%;
	max-height: 250px;
}

.jumbotron img {
max-width: 100%;
}

.top-banner img {
  max-height: 275px;
}

.podcast-wrapper {
 height: 250px;
 width: 250px;
 position: relative
}

.wrapper {
  position: absolute;
  bottom: 0;
  color: #eee;
  width: 100%;
  opacity: .25;
  transition: opacity .3s ease-in-out;
}

.wrapper-text {
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, .6);
  padding: 1em;
}

.wrapper:hover {
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    opacity: 0;
  }
}
