{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="">
  <div class="column is-5">
    <h2 class="title is-1 has-text-info">{{title}}</h2>

    <div class="container ">
    {% for post in pages %}

	<article class="items-center border m-3 grid gap-4 grid-cols-8 ">
        {% if post.image %}
          <div class="col-span-2">
              <a href="{{post.url}}">
                  <img class="rounded-lg " src="{{post.image}}">
              </a>
          </div>
        {% endif %}
        <div class="col-span-3">
            {% if post.category %}
              <span class="">
                <a href="/{{post.category}}/all_posts-0">{{post.category}}</a>
              </span>
            {% endif %}
            <h2 class="text-4xl"><a href="{{post.url}}">{{post.title}}</a></h2>
          <div class="flex">
            <div class="mx-2">
              <strong>Date:</strong> {{post.date_friendly}}
            </div>
            {% if post.tags %}
            <div class="mx-2">
              {% for tag in post.tags %}
                <span class="tag">
                  {{tag}}
                </span>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          </div>
        </article>
  {% endfor %}
    </div>
</div>
{% include 'categories.html' %}
  </div>
{% include 'pagination.html'%}
  </div>

{% endblock %}
