{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="">
  <div class="column is-5">
    <h2 class="title is-1 has-text-info">{{title}}</h2>

    <div class="container">
    {% for post in pages %}

	<article class="box">
    {% if post.category %}
      <span class="is-size-7">
        <a href="/{{post.category}}/all_posts">{{post.category}}</a>
      </span>
    {% endif %}

		<div class="border m-5">
      {% if post.image %}
      <div class="">
          <img style="max-h:lg; overflow:hidden;" src="{{post.image}}">
      </div>
      {% endif %}
      <div class="column is-expanded">
        <h2 class="title is-5"><a href="{{post.url}}">{{post.title}}</a></h2>
      </div>
    </div>
    <div class="flex">
      <div class="mx-2">
        <strong>Date:</strong> {{post.date_friendly}}
      </div>
      {% if post.tags %}
      <div class="mx-2">
      {% for tag in post.tags %}
      <span class="tag">
        {{tag}}
      </span>
      {% endfor %}
      </div>
      {% endif %}
    </div>
</article>
  {% endfor %}
    </div>
</div>
{% include 'categories.html' %}
  </div>
{% include 'pagination.html'%}
  </div>

{% endblock %}
