{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="grid grid-cols-6">
  <div class="col-span-4 column is-5">
    <h2 class="title is-1 has-text-info">{{title}}</h2>

    <div class="container ">
        {% include '_archive.html' %}
    </div>
  </div>
  <div class="col-span-2">
    <div>
        {% include 'categories.html' %}
    </div>
    <div>
        {% include 'pagination.html'%}
    </div>
</div>
{% endblock %}
