{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron border-bottom bg-transparent">
        <h2 class="display-4 text-primary">Blog</h2>
        <h3 class="font-italic text-secondary">Productivity Musings, Automations, and Reviews</h3>
    </div>
    <div >
	  <ul>
        {% for post in post_list %}
            <li>
	        <a href="blog/{{post.id}}.html">
		<h2>{{post.title}}</h2>
		</a>
		<small>{{post.date_published}}</small>
        	{{post.summary}}
	    </li>
        {% endfor %}
	</ul>
    </div>
</div>
{% endblock %}
