{% extends 'base.html' %}
{% block title %}Blog Post{% endblock %}
{% block content %} 
<div class="container">
	    <article>
    <div class="jumbotron text-light column align-items-bottom" style="background:url('https://images.pexels.com/photos/1563074/pexels-photo-1563074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
    </div>
    <h1 class="display-4 text-primary">{{metadata.title}}</h1>
        <small class="text-secondary">{{metadata.author}} - <span
                class="text-primary">{{metadata.date}}</span></small>
        <div class="py-2">
{{metadata.markup}} 
</div>
    </article>
    
    <a href="../blog_posts_0.html" class="text-primary"><-- Back to Blogs</a>
</div>
{% endblock %}
