{% extends 'base.html' %}
{% block title %}Blog Post{% endblock %}
{% block style %}
{% endblock %}
{% block content %} 
<div class="container">
    <article>
        <div class="hero">
            {% if image %}
            <img src="{{image}}" class="featured_image">
            {% endif %}
            <h1 class="title">{{title}}</h1>
        </div>
        <small class="subtitle">{{author}} - <span
               class="subtitle is-4">{{date_published}}</span></small>
        <div class="content">
            {{content}} 
        </div>
    </article>

    <a href="/all_posts.html" class="text-primary"><-- Back to Blogs</a>
</div>
{% endblock %}
