{% extends 'base.html' %}
{% block title %}Blog Post{% endblock %}
{% block style %}
{% endblock %}
<
{% block content %} 
<div class="container">
    <article>
        <div class="row">
            {% if image %}
            <img src="{{image}}" class="featured_image">
            {% endif %}
            <h1 class="text-primary">{{title}}</h1>
        </div>
        <small class="text-secondary">{{author}} - <span
               class="text-primary">{{date_published}}</span></small>
        <div class="py-2">
            {{markup}} 
        </div>
    </article>

    <a href="./blog_0.html" class="text-primary"><-- Back to Blogs</a>
</div>
{% endblock %}
