{% extends 'page.html' %}
{% block add_ons %}
<div class="container mx-auto">
  {% for post in posts %}
    <div class="my-2">
	<small><a href="{{post.link}}">{{post.event}}</a></small>
      <h2 class="text-2xl">{{post['title']}} <b
	  class="text-sm">{{post['last_presented']}}</b></h2>
      {% autoescape false %}
        {{post['abstract']}}
      {% endautoescape %}
      {% if 'embed' in post %}
      <div class="my-2">
        <iframe width="560" height="315" src="{{post['embed']}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {% endif %}
    </div>
    <hr />
  {% endfor %}
</div>
{% endblock %}
