<div class="container mt-6 mx-auto">
  {% set featured_post = blog_posts[0] %}
  <div class="my-5">
    <a href="{{featured_post.slug}}">
      <h1 class="text-3xl font-semibold">
        <strong>Latest Post:</strong> {{featured_post.title}}
      </h1>
    </a>
  </div>
  {% if featured_post.youtube %} {% set youtube = featured_post.youtube %} {%
  include 'Youtube_embed.html' %} {% endif %}
  <div class="p-1">
    <a href="{{featured_post.slug}}">
      <img class="max-w-1/3" src="{{featured_post.image}}" />
    </a>
  </div>
</div>
