<div class="container mt-6">
  {% set featured_post= blog_posts[0] %}
  <h3 class="category text-xl"><a href="{{featured_post.category-0}}">{{featured_post.category}}</a></h3>
  <h2 class="title text-2xl">
      <a href="/{{featured_post.slug}}">{{featured_post.title}}</a>
  {% if featured_post.link %}
    <a href="{{featured_post.link}}">🔗</a>
  {% endif %}
   </h2>
  {% if featured_post.image %}
    <div class="m-4 rounded">
       <a href="/{{featured_post.slug}}">
           <img class="rounded" src="{{featured_post.image}}?tr=w-650,otbg-00000050,ofo-bottom,otw-650,otc-FFFFFF,otp-25,ots-30tr=w-400,otf-Open%20Sans,ot-{{ featured_post.title|urlencode }}">
       </a>
    </div>
  {% endif %}
</div>
