<footer class="object-bottom pin-b bg-gray-100 px-4 my-4">
  <div class="container  lg:flex md:mx-auto justify-around">
    <p> kjaymiller.com</p>
    <p>Website made with <a
                             href="https://github.com/kjaymiller/render-engine">Render Engine</a> and <a href="https://tailwindcss.com">TailwindCSS</a>
    <div class="level">
      <p class="level-item">
         <a href="/blog.rss.xml"><span class="icon"><i class="fas fa-rss"></i></a>
      </p>
      <p class="level-item">
       <a href="https://micro.blog/kjaymiller" rel="me">
         <span class="icon"><i name="micro.blog" class="fab fa-microblog"></i>
       </a>
     </p>
      <p class="level-item">
       <a href="https://twitter.com/kjaymiller" rel="me">
         <span class="icon"><i class="fab fa-twitter"></i></span>
       </a>
     </p>
    </div>
  </div>
</footer>
