<footer class="object-bottom pin-b bg-gray-100 px-4 my-4">
  <div class="container  lg:flex md:mx-auto justify-around">
    <p> kjaymiller.com</p>
    <p>Website made with <a
                            href="https://github.com/kjaymiller/render_engine">Render Engine</a> and <a href="https://tailwindcss.com">TailwindCSS</a>
    <div>
      <p>
         <a href="/blog.rss.xml"><span class="icon"><i class="fas fa-rss"></i></a>
      </p>
    </div>
  </div>
  {% include 'social-cards.html' %}
</footer>
