<header class="bg-gradient-to-br from-purple-600 to-indigo-800 w-full flex xl:py-10 py-3 px-3">
    <div class="lg:mx-auto container">
	<div class="flex">
	<h1 id="site-title" class="title mx-3 text-5xl font-bold text-gray-200">
	  <a class="hover:no-decorate" href="/">{{SITE_TITLE}}</a>
	</h1>
	<h2 class="text-2xl">Automation, Podcasting, Development</h2>
    </div>
  <div class="md:flex hidden" id="site-menu">
            {% for link in HEADER_LINKS %}
            <div class="p-3">
                <a class="rounded p-2 hover:bg-gray-200 hover:text-gray-600 text-gray-200" href="{{link.url}}">
                {{link.name}}
                </a>
            </div>
            {% endfor %}
  </div>
  <div class="hidden">
    <form role="search" action="https://search.kjaymiller.com/">
        <div class="md:flex hidden">
        <input type="text" style="padding-left: 3em; background: url('/static/files/search.svg') 7px 0px white no-repeat" class="inline border border-blue-800 rounded-full" name="q" id="search-bar" placeholder="Search"/>
        </div>
    </form>
</div>
    </div>
</header>
