{% extends 'base.html'%}
{% block title%}Jay Miller{% endblock%}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<link rel="stylesheet" type="text/css" href="/static/css/twitch.css">
{% endblock %}

{% block content %}
{% include 'twitch_frame.html' %}
{% include 'recent_posts.html' %}
<section>
  <div class="container">
    {% include 'newsletter.html' %}
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="title is-3">You can hear me on</h1>
    {% include 'podcasts.html' %}
  </div>
  {% include 'microblog_posts.html' %}
  {% include 'short_bio.html' %}
  {% endblock %}

</section>
