{% extends 'base.html'%}
{% block title%}Jay Miller{% endblock%}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block content%}
<section class="section">
  <div class="container">
    <h1 class="title is-3">You can hear me on</h1>
    {% include 'podcasts.html' %}
  </div>
</section>
     {% include 'recent_posts.html' %}
<section>
  <div class="container">
    {% include 'newsletter.html' %}
  </div>
</section>
  <section class="section">
  <div class="container posts">
    <h1 class="title is-3">Microblog Posts</h1>
    <div class="columns is-multiline">
            {% for post in microblog_posts %}
              <div class="column tile is-4">
                <div>
                  <div class="content box">
                    {{post.content}}
                    <p class="content has-text-right">
                      {{post.date_friendly}}
                    </p>
                  </div>
                </div>
              </div>
    {% endfor %}
    </div>
      <div>
        <p class="content has-text-right">
          <a href="/microblog/all_microblog_posts">View Older Posts</a>
        </p>
      </div>
    </div>
</section>
{% include 'short_bio.html' %}
{% endblock %}

