{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/microblog_archive.css">
{% endblock %}
<section class="section">
  <div class="container">
    <h2 class="title is-1 has-text-info">{{title}}</h2>
        {% for post in pages %}
			<div class="tile is-parent">
	<article class="tile is-child box">

		<div class="columns">
    {% if post.image %}
		<div class="column is-narrow">
    <figure class="image">
			<a href="{{post.slug}}"><img class="level-item" style="max-width: 350px;" src="{{post.image}}"></a>
    </figure>
		</a>
		</div>
    {% endif %}
		<div class="column">
			<div class="container">
			<div class="microblog-content content">{{post.content}}</div>
		</div>
    <footer class="container footer has-text-left">
			<strong>Date:</strong> {{post.date_published}}
    </footer>
		</div>
	</article>
		</div>
        {% endfor %}
    </div>
</div>
</div>
</section>
{% endblock %}
