  <section class="section flex">
      <h1 class="title is-3">Microblog Posts</h1>
      <div class="columns is-multiline">
        {% for post in microblog_posts %}
            <div class="border">
              {{post.content}}
            <p class="text-sm">
            {{post.date_friendly}}
            </p>
        </div>
        {% endfor %}
      </div>
      <div>
        <p class="content has-text-right">
        <a href="/microblog/microblog-0">View Older Posts</a>
        </p>
    </div>
  </section>
