<section class="section">
  <div class="container">
<div class="notification is-info">
<h2 class="subtitle is-2">Subscribe to the Newsletter</h2>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/productivityintech"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/productivityintech', 'popupwindow')"
  class="embeddable-buttondown-form"
>
     <div class="content">
       <p>I enjoy letting folks know what I'm up to. I email people about 1-2 monthly sharing my thoughts and opinions
       on things.</p>

       <p>It's also a great way to chat with me about thoughts, feelings and other things.</p>
     </div>
  <input type="hidden" value="1" name="embed"></input>
 <div class="field is-grouped">
     <div class="control is-expanded">
      <input class="input" type="email" name="email" id="bd-email" placeholder="Email">
   </div>
     <div class="control">
      <input class="button is-link is-light" type="submit" value="Subscribe"></input>
   </div>
 </div>
</form>
</div>
</div>
</section>
