<section class="border p-2">
        <h2 class="text-lg text-bold">Subscribe to the Newsletter</h2>
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/productivityintech"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/productivityintech', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
          <input type="email" class="border focus:border-blue-800 padding-2" name="email" id="bd-email" placeholder="Email@example.com"></input>
          <input type="hidden" value="1" name="embed"></input>
          <input type="submit" class="bg-blue-400 border border-blue-800" value="Subscribe"></input>
          <input type="hidden" name="tag" value="All Newsletters"></input>
        </form>
</section>
