<div class="my-3 border p-2 w-full">
        <h2 class="text-lg font-bold">Subscribe to the Newsletter</h2>
        <div class="my-2">
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/productivityintech"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/productivityintech', 'popupwindow')"
          class="embeddable-buttondown-form"
        >
        <div class="">
            <div class="">
              <input type="email" class="border rounded-lg focus:border-blue-800 m-2 p-2" name="email" id="bd-email" placeholder="Email@example.com"></input>
              <input type="hidden" value="1" name="embed"></input>
              </div>
            <div class="">
              <input type="submit" class="px-2 rounded-lg bg-blue-400 border border-blue-800" value="Subscribe"></input>
              <input type="hidden" name="tag" value="All Newsletters"></input>
            </div>
        </form>
    </div>
</div>
