<section class="section">
  <div class="container">
    <h2 class="subtitle">Jump to Page</h2>
    <nav class="flex justify-around" role="navigation">
      <a class="pagination-previous" href="{{slug|replace(page_index[0],
                                     page_index[0]-1)}}" {% if
      page_index[0] == 0 %}disabled{% endif %}>Previous</a>
      <ul class="flex list-none">
        {% for p in range(page_index[1]) %}
          {% set page = p + 1 %}
        <li>
          {% if p == page_index[1] %}
              <a href="{{slug|replace(page_index[0], p)}}" class="pagination-link is-current" aria-label="Page
                                                                  {{page}}">{{page}}</a>
          {% else %}
              <a href="{{slug|replace(page_index[0], p)}}" class="pagination-link" aria-label="Goto page
                                                       {{page}}">{{page}}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% set pages_length = collections['Blog'].pages|length %}
      <a class="pagination-next" href="{{slug|replace(page_index[0], page_index[0] +
                                 1)}}" {% if
      page_index[0] == pages_length - 1 %}disabled{% endif %}>Next Page</a>
    </nav>
  </div>
</section>
