<section class="section">
  <div class="container">
    <h2 class="subtitle">Jump to Page</h2>
    <nav class="pagination" role="navigation">
      <a class="pagination-previous" href="all_posts_{{page_index - 1}}" {% if
      page_index == 0 %}disabled{% endif %}>Previous</a>
      {% set pages_length = collections['Blog'].pages|length %}
      <a class="pagination-next" href="all_posts_{{page_index + 1}}" {% if
      page_index == pages_length - 1 %}disabled{% endif %}>Next Page</a>
      <ul class="pagination-list">
        {% for p in collections['Blog'].archive %}
          {% if p.page_index == page_index %}
            <li>
              <a href="{{slug}}_{{page_index}}" class="pagination-link is-current" aria-label="Page
                                                                  {{p.page_index}}">{{p.page_index}}</a>
            </li>
          {% else %}
            <li>
              <a href="{{slug}}_{{page_index}}"class="pagination-link" aria-label="Goto page
                                                       {{p.page_index}}">{{p.page_index}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>
