  <div class="flex justify-around">
  {% for podcast in PODCASTS %}

    <div class="podcast-wrapper">
      <a href="{{podcast.url}}">
          <img class="podcast-image h-24 w-24" src="https://ik.imagekit.io/cxazzw3yew{{podcast.image}}?tr=w:150">
      </a>

      <div class="wrapper">
        <div class="wrapper-text">
          <a class="has-text-white" href="{{podcast.url}}">{{podcast.name}}</a>
          <div class="tag is-small is-dark has-text-white my-2">Latest Post</div>
          <h2 class="has-text-weight-bold  subtitle is-5">
            <a href="{{podcast.latest_post.link}}" class="has-text-white">
              {{podcast.latest_post.title}}</a></h2>
        </div>
      </div>
    </div>

{% endfor %}
</div>
