{% extends 'base.html' %}
{% block content %}
    <div class="flex">
        {% for title, post in posts.items() %}
            <div class="w-1/4 mx-3"> 
                <a href="{{post['url']}}">
                    {% if 'image' in post %}
                        <h2>
                            {{title}}
                        </h2>
                    {% else %}
                        <img alt="{{title}}" class="rounded-lg shadow" src="{{post['image']}}">
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
    {% include '_podcasts.html' %}
{% endblock %}
