
<section class="section">
  <div class="container">
    <h2 class="title is-1">More Posts</h1>
       <div class="columns is-multiline is-centered">
       {% for post in blog_posts[1:] %}
         <div class="column">
          <h1 class="title is-4">
            <a href="/blog/{{post.slug}}">{{post.title}}</a>
          </h1>
          <h2 class="subtitle is-5">
            {{post.date_friendly}}
          </h2>
         </div>
      {% endfor %}
      </div>
   <p class="has-text-right">
      <a href="/blog-0">View Older Posts</a>
    </p>
  </div>
</div>
</section>
