
	<div class="hero is-fullheight">
		<div class="hero-body">
    {% set featured_post  = blog_posts[0] %}

    <div class="columns is-vcentered is-centered">
      {% if featured_post.image %}
       <div class="column">
         <a href="/{{featured_post.slug}}">
           <img class="featured-post-image" src="{{featured_post.image}}">
         </a>
        </div>
      {% endif %}

      <div class="column">
        <h2 class="title is-1"><a
            href="/{{featured_post.slug}}">{{featured_post.title}}</a>{% if
          featured_post.link %}<a href="{{featured_post.link}}">🔗</a>{% endif %}</h2>
        <div class="content">
          {{featured_post.summary}}
        </div>
      </div>
		</div>
    </div>
    <div class="hero-foot has-text-centered">
      <h1 class="title is-1"><span class="icon"><i class="animated-arrow fas fa-chevron-down"></i></span></h1>
    </div>
	</div>

<section class="section">
  <div class="container">
    <h2 class="title is-1 has-text-grey-light">More Posts</h1>
       <div class="columns is-multiline is-centered">
       {% for post in blog_posts[1:] %}
         <div class="column">
          <h1 class="title is-4">
            <a href="/blog/{{post.slug}}">{{post.title}}</a>
          </h1>
          <h2 class="subtitle is-5">
            {{post.date_friendly}}
          </h2>
         </div>
      {% endfor %}
      </div>
   <p class="has-text-right">
      <a href="/all_posts_0">View Older Posts</a>
    </p>
  </div>
</div>
</section>
