<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        <figure class="figure">
          <img
            style="max-width: 250px;" src="https://kjaymiller.s3-us-west-2.amazonaws.com/images/twitter_profile_image.png">
        </figure>
      </div>
      <div class="column is-expanded">
      <div class="content">
        <p>Hi! I'm Jay,</p>
        <p>I'm a software devleoper, marketer, and content createor from San Diego. I'm always looking to connect with interesting folks and help people make things.</p>
      </div>
      </div>
  </div>
  </div>
</section>
