<div class="bg-blue-container p-5 mx-auto">
    <div class="flex items-center justify-around bg-white-400 rounded shadow">
      <img class="rounded-xl shadow" src="https://ik.imagekit.io/cxazzw3yew/headshot_3HLj5yboQ.jpg?tr=w-500,h-350,fo-face">
      <div class="content">
        <p>Hi! I'm Jay,</p>
        <p>I'm a software devleoper, marketer, and content createor from San Diego. I'm always looking to connect with interesting folks and help people make things.</p>
      </div>
      <h2 class="has-text-right subtitle is-5"><a href="/about">More about my
              journey</a></h2>
      <h2 class="has-text-right subtitle is-5"><a href="https://productivityintech.com">More about Productivity
            in Tech</a></h2>
      <h2 class="has-text-right subtitle is-5"><a href="/contact">Get in Touch</a></h2>
      <div class="has-text-right">
          <iframe src="https://github.com/sponsors/kjaymiller/button" title="Sponsor kjaymiller" height="35" width="107" style="border: 0;"></iframe>
      </div>
  </div>
</div>
