<section class="section">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-narrow">
        <figure class="figure">
          <img
            style="max-width: 250px;" src="https://kjaymiller.s3-us-west-2.amazonaws.com/images/twitter_profile_image.png">
        </figure>
      </div>
      <div class="column is-7">
      <div class="content">
        <p>Hi! I'm Jay,</p>
        <p>I'm a software devleoper, marketer, and content createor from San Diego. I'm always looking to connect with interesting folks and help people make things.</p>
      </div>
          <h2 class="has-text-right subtitle is-5"><a href="/about">More about my
              journey</a></h2>
          <h2 class="has-text-right subtitle is-5"><a href="https://productivityintech.com">More about Productivity
            in Tech</a></h2>
          <h2 class="has-text-right subtitle is-5"><a href="/contact">Get in Touch</a></h2>
          <div class="has-text-right">
          <iframe src="https://github.com/sponsors/kjaymiller/button" title="Sponsor kjaymiller" height="35" width="107" style="border: 0;"></iframe>
          </div>
      </div>
  </div>
  </div>
</section>
