<div class="grid grid-cols-4">
    <figure>
        <a href="https://www.youtube.com/channel/UCjoJU65IbXkKXsNqydro05Q/">
            <img class="https://ik.imagekit.io/cxazzw3yew/YouTube_icon_square_logo.jpg" alt="YouTube">
        </a>
    </figure>
    <figure>
        <a href="https://twitter.com/kjaymiller">
            <img class="https://ik.imagekit.io/cxazzw3yew/Twitter_icon_square_logo.jpg" alt="Twitter">
        </a>
    </figure>
    <figure>
        <a href="https://linkedin.com/kjaymiller">
            <img class="https://ik.imagekit.io/cxazzw3yew/LinkedIn_icon_square_logo.jpg" alt="LinkedIn">
        </a>
    </figure>
    <figure>
        <a href="https://twitch.tv/kjaymiller">
            <img class="https://ik.imagekit.io/cxazzw3yew/Twitch_icon_square_logo.jpg" alt="Twitch">
        </a>
    </figure>
</div>
