<div class="m-auto w-3/4 grid grid-cols-4 p-3">
    <figure class="social youtube">
        <a href="https://www.youtube.com/channel/UCjoJU65IbXkKXsNqydro05Q/">
            <img class="rounded-full" src="https://kjaymiller.s3-us-west-2.amazonaws.com/images/YouTube_icon_square_logo.jpg?tr=w-50" alt="YouTube">
        </a>
    </figure>
    <figure class="social twitter">
        <a href="https://twitter.com/kjaymiller">
            <img class="rounded-full" src="https://kjaymiller.s3-us-west-2.amazonaws.com/images/Twitter_icon_square_logo.jpg?tr=w-50 alt="Twitter">
        </a>
    </figure>
    <figure class="social linkedin">
        <a href="https://linkedin.com/in/kjaymiller">
            <img class="rounded-full" src="https://kjaymiller.s3-us-west-2.amazonaws.com/images/LinkedIn_icon_square_logo.jpg?tr=w-50" alt="LinkedIn">
        </a>
    </figure>
</div>
