<div id="twitch-block" class="is-hidden-mobile">
<section class="section">
<div class="container">
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<figure class="image">
<div id="twitch-player" class="has-text-centered"></div>
</figure>
<script type="text/javascript">
  var options = {
    width: 800,
    height: 600,
    channel: "kjaymiller",
  };

 var embed = new Twitch.Embed('twitch-player', options);

  embed.addEventListener(Twitch.Embed.VIDEO_READY, function() {
  if (embed.getPlayerState()) {
    document.querySelector('#twitch-block').style.display = 'inherit';
  }

  else {
    document.querySelector('#twitch-block').style.display="None";
  }

  });


</script>
</div>
</section>
</div>
