<div id="twitch-block">
<section class="section">
<div class="container">
<script src= "https://player.twitch.tv/js/embed/v1.js"></script>
<h1 class="title is-2">Jay Is Live On <a
    href="https://twitch.tv/kjaymiller " style="color: #9145ff;">Twitch!</h1>
<figure class="image">
<div id="twitch-player" class="has-text-centered"></div>
</figure>
<script type="text/javascript">
  var options = {
    width: 800,
    height: 600,
    channel: "infandel",
  };

  const player = new Twitch.Player("twitch-player", options);

 var embed = new Twitch.Embed('twitch-player', {
  channel: 'infandel'
});

embed.addEventListener(Twitch.Embed.VIDEO_READY, function() {
  console.log('The video is ready');
});

if (player.getPlayerState().currentTime != 0) {
    document.querySelector('#twitch-block').style.display = 'inherit';
  }

  else {
    document.querySelector('#twitch-block').style.display="None";
  }

</script>
</div>
</section>
</div>
