<!-- What I'm Section -->
<div id="What-im" class="jumbotron">
  <h3 class="">What I'm...</h3>
<div id="" class="row mx-4">
  {% for section in what_im_block %}

  <div class="p-1 my-1 col-lg-3">
    <div class="row my-2 p-2">
      <h4 class="card-title">{{ section }} 
        <i class="{{what_im_block[section]['icon'] }}"></i>
      </h4>
      <hr>
      <ul>
        {% for item in what_im_block[section]['items'] %}
        <li>
          <a href="{{ item['url'] }}" class="text-secondary">
            <b>{{item['title']}}</b>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div> 
      </div>
    </div>
  </div>
  {% endfor %}
<h3>  Check out the <a
                                      href="/what-im">What I'm Podcast</a>
</h3>
</div>
</div>
