{% if youtube %}
<div class="my-6">
  <iframe
    class="xl:w-2/3 w-full"
    style="height: 32em"
    src="{{youtube}}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <div class="m-2">
      <h3 class="p-2">
	<a
	  class="text-white bg-gradient-to-br from-red-200 to-red-400 rounded-lg"
	  href="https://www.youtube.com/channel/UCjoJU65IbXkKXsNqydro05Q"
	  >Check Out The YouTube Channel</a
	>
      </h3>
  </div>
</div>
{% endif %}
