name: Load Lastest Content
on:
  workflow_dispatch:
  schedule:
    # Runs every 4 hours
    - cron: "0 */4 * * *"
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.14"
      - name: generate update
        run: uv run --no-dev update_readme.py
      - name: verify diff
        id: verify_diff
        run: |
          git diff --quiet . || echo "changed=true" >> $GITHUB_OUTPUT
      - name: Commit
        if: steps.verify_diff.outputs.changed == 'true'
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git commit -m "Update README.md"
          git push
